.idea/
adl-parser/adl-parser.iml
adl-parser/target/
adl-serializer/adl-serializer.iml
adl-serializer/target/
archetype-validator/archetype-validator.iml
archetype-validator/target/
dadl-binding/dadl-binding.iml
dadl-binding/target/
dadl-binding/tree_2_slots.dadl
dadl-parser/dadl-parser.iml
dadl-parser/target/
measure-serv/measure-serv.iml
measure-serv/target/
mini-termserv/mini-termserv.iml
mini-termserv/target/
oet-parser/oet-parser.iml
oet-parser/target/
oet-parser/term_map.txt
oet-parser/test_paths.txt
openehr-aom/openehr-aom.iml
openehr-aom/target/
openehr-ap/openehr-ap.iml
openehr-ap/target/
openehr-rm-core/openehr-rm-core.iml
openehr-rm-core/target/
openehr-rm-domain/openehr-rm-domain.iml
openehr-rm-domain/target/
ref_impl_java.iml
rm-builder/rm-builder.iml
rm-builder/target/
rm-skeleton/hypersensitivity_max.dadl
rm-skeleton/hypersensitivity_min.dadl
rm-skeleton/rm-skeleton.iml
rm-skeleton/target/
target/
xml-binding/target/
xml-binding/xml-binding.iml
xml-serializer/target/
xml-serializer/xml-serializer.iml